/* Esto es una hoja de estilos */

body {
    background-color: aliceblue;
    text-align: center;
}

.tituloVerde {
    color: green;
}

.tituloAmarillo{
    color: yellow;
}

#id {
    color: red;
}